<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img style="height: 500px;" src="<%=food.image%>" alt="">
  <h1> Name: <%= food.name  %> </h1>
  <h2>Category: <%=food.veg%> </h2>
  <h3> Description: <%= food.description  %> </h3>
  <h4> Location:  <%= food.location  %> </h4>
  <h5> Distance: <%= food.distance  %> </h5>
    <h5> UseByDate: <%= food.useByDate  %> </h5>
     <a href="/foods">Back to menu</a>
     <a href="/foods/<%=food._id%>/edit ">EDIT</a>
     <form class="d-inline" action="/foods/<%=food._id%>?_method=DELETE" method="POST">
        <button class="btn btn-danger">DELETE</button>
    </form>
</body>
</html>